@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Candal|Droid+Serif|Open+Sans');

body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%), url(../img/astrology.jpg) center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    padding: 10px;
}

.header__image {
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.header__image img {
    height: 150px;
}

.header__title {
    flex-grow: 1;
    text-align: center;
    font-family: 'Candal', sans-serif;
    font-size: 40px;
    margin-left: 150px;
}

.header__search {
    position: relative;
    flex-grow: 0;
}
.header__search input {
    height: 20px;
    font-size: 16px;
    text-indent: 30px;
    border-radius: 5px;
}
.header__search .fa-search {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 16px;
    color: #aaaaaa
}

/* menu */

.menu {
    background: rgba(255, 160, 122, 0.3);
    border: 1px solid #aaaaaa;

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 25px;
}

/* aside + main */
.content {
    display: flex;
    height: calc(100vh - 200px);
}

/* aside */
.aside {
    flex: 0 0 150px;
    background: rgba(238, 238, 238, 0.4);
    overflow-y: auto;
}

.switcher {
    padding: 10px 60px 10px 20px;
}

.switcher__item {
    padding: 5px 2px;
}

/* main */
.main {
    padding: 20px 30px;
    overflow-y: auto;
    border-left: 1px solid #aaaaaa;
}

.signs {
    display: flex;
    flex-wrap: wrap;
}

.signs__item {
    padding: 25px 30px;
    flex: 1 0 350px;
}

.signs__name {
    font-family: 'Candal', sans-serif;
    font-size: 28px;
}

.signs__dates {
    font-size: 24px;
}

.signs__desc p:nth-child(2) {
    font-size: 20px;
}

/* footer */
.footer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(204,128,98, 0.5);
}

.footer__copyright span {
    margin: 10px;
}

